REGISTRY_USER=ghcr.io/<github-username>
LOGFIRE_ENV=<your-name>
# Find it at https://logfire-us.pydantic.dev/theo-ryzhenkov/rl-effect-on-cot-monitorability/settings/write-tokens
LOGFIRE_TOKEN=<logfire-api-token-here>
# Find it at https://openrouter.ai/settings/keys
OPENROUTER_API_KEY=<openrouter-api-token-here>